# Create a copy "build.properties" of this file and change the properties

CMAKE_BUILD_TYPE=Release
#CMAKE_BUILD_TYPE=Debug

DEB_HOST_GNU_TYPE=x86_64-linux-gnu
#DEB_HOST_GNU_TYPE=arm-linux-gnueabihf

#CMAKE_TOOLCHAIN_FILE=
CMAKE_TOOLCHAIN_FILE=CMakeCross.txt

#------ ant ---------
# Ivy repository URL
ivy.url=http://<host>/ivy
# Ivy settings file located at <ivy.url>
ivy.settings=ivysettings.xml
# Ivy resolver (see <ivy.settings> for possible values)
ivy.resolver=local
