#------ ant ---------
# Ivy repository URL
ivy.url=http://<host>/ivy
api.url=http://<host>/api
# Ivy settings file located at <ivy.url>
ivy.settings=ivysettings.xml
# Ivy resolver (see <ivy.settings> for possible values)
ivy.resolver=local
